.raffleOdds {
  margin-top: 30px;
}
.enteredText {
  position: absolute;
  top: -70px;
  left: 0px;
  width: 100%;
  text-align: center;
}
.raffleButtonWrapper {
  font-size: 21.6667px;
  margin-top: 35px;
  margin-left: -10px;
}
.runRaffle {
  margin-top: 30px;
  color: #fff;
  text-align: center;
}
.runRaffle a {
  text-decoration: none;
}
